@import "~ant-design-vue/es/style/themes/default.less";

@header-height: 50px;

.ant-table {
  background: #fff;
}

.ant-pro-basicLayout-content {
  margin: 15px;

  .ant-pro-page-header-wrap {
    margin: -15px;

    .ant-page-header {
      padding: 15px;
      margin-bottom: 20px;

      .ant-page-header-heading-title {
        font-size: 18px;
        margin-top: 0;
        line-height: 18px;
      }
    }
  }
}

.ant-layout {
  background: #fff;

  .ant-layout-header {
    height: @header-height;
    line-height: @header-height;

    .ant-pro-global-header {
      position: relative;
      z-index: 20;
      height: @header-height;
      color: #fff !important;
      background: #24292e;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .ant-pro-global-header-trigger {
        height: @header-height;
        line-height: @header-height;
      }
    }
  }

  .ant-layout-footer {
    padding: 15px 15px 20px;
    background: #fff;
  }
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #161b22 !important;
}

.ant-pro-sider-menu-logo {
  padding-left: 18px;
  height: 45px;
  line-height: 45px;

  h1 {
    font-size: 18px;
  }
}
